.container {
    margin: 3em 3em;
    margin-top: 0; 
    margin-bottom: 0;
    min-height: 85vh;
 }


 .collapse_section {
    width: 87%;
    margin: auto;
 }


 @media (min-width: 330px)  and (max-width: 780px){
    .container {
      margin: 1em 1em; 
      min-height: 80vh;
    }
    .collapse_section {
        width: 100%;
     }

 }