.container {
   margin: 3em 3em;
   margin-top: 0; 
   margin-bottom: 0;
   min-height: 85vh;
}
.container_tag {
   display: flex; 
}
.container_introduction {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.container_section {
   width: 100%; 
   display: flex; 
   justify-content: space-between;
   flex-wrap: wrap;
}

.img_location {
   width: 64px; 
   height: 64px; 
   border-radius: 50%;
   object-fit: cover;
}

.container_info {
   display: flex;
   margin: 2em 0;
   color: #FF6060;
   min-height: 110px;
}
.container_introduction_notation {
   width: 50%; 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
}

.container_introduction_notation > div {
   display: flex;
   align-items: center;  
}
.container_introduction_notation > div > p {
   float: left;
   margin-right: 15px;
   width: min-content;
}

.container_introduction h2 {
    font-weight: 400;
    font-size: 28px;
    margin:0
}

.container_introduction h3 {
   font-weight: 300;
   margin-top: 10px; 
   position: relative;
   bottom: 7%;
   font-size: 17px;
}



@media (min-width: 300px)  and (max-width: 780px){
   .container {
      margin: 1em 1em;
      margin-top: 0; 
      margin-bottom: 0;
      min-height: 80vh; 
   }
   .container_info {
      display: flex;
      margin: 1em 0;
      color: #FF6060;
      min-height: 110px;
      flex-direction: column;
   }

   .container_introduction h2 {
      font-size: 20px;
  }
  .container_introduction h3 {
   font-size: 15px;
}
   .container_introduction, .container_introduction_notation {
      width: 100%; 
   }

   .container_introduction_notation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      margin-top: 1.5em;
   }

   .container_section {
      flex-direction: column; 
   }
   .img_location {
      width: 40px;
      height: 40px;
   }
   .container_tag {
      flex-wrap:wrap;
   }
 }