.container {
    margin: 5em 5em;
    margin-top: 0; 
    margin-bottom: 0;
    min-height: 85vh; 
}



@media (min-width: 330px)  and (max-width: 780px){

    .container {
        margin: 1em 1em;
        margin-top: 0; 
        margin-bottom: 0;
        min-height: 80vh;
    }
    



}