.collapse_container{
    margin-top: 1.4em;
}

.collapse_container_about {
    width: 80%; 
}

.collapse_title {
    background: #FF6060;
    color: white;
    border-radius: 10px; 
    padding: 0.8em 1.4em; 
    font-size: 1.1em;
    display: flex; 
    justify-content: space-between;
}
.collapse_title p {
    margin: 0; 
}

.collapse_text {
    background: #F6F6F6;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 142.6%; 
    min-height: 250px; 
    border-radius: 10px;
    line-height: 142.6%;
    padding: 2em 1em;

    
}

.collapse_closed {
    display : none; 
}

.collapse_list {
    margin:0; 
}