
.full_container {
    display: flex;  
}


.container {
    display: flex;
    height: 415px; 
    overflow: hidden;
    border-radius: 25px;
    width: 100%;
}

.container img {
    width: 100%; 
    object-fit: cover;
}