.container {
    background: #F6F6F6;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px; 
    padding: 1em; 
}


@media (min-width: 300px)  and (max-width: 780px){
 
  .container {
    background: transparent;
    padding: 0; 
  }

}